# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual env
venv1/
__pycache__/
*.pyc
node_modules/
.env
# Jupyter notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Redis dump
dump.rdb

# Streamlit
.streamlit/

# Celery logs
celerybeat-schedule
