# fastapi
# uvicorn
# openai
# pydantic
# python-multipart
# streamlit
# python-dotenv
# pydantic[email]
# passlib[bcrypt]
# python-jose
# motor
# pdfplumber
# faiss-cpu
# sentence-transformers

# FastAPI and Server
fastapi
uvicorn

# MongoDB Async
motor

# PDF Parsing
pdfplumber

# Embedding + Retrieval
sentence-transformers==2.2.2


# OpenAI API (optional)
openai

# Env config
python-dotenv
# Pydantic with email validation
pydantic[email]

# Auth
passlib[bcrypt]
python-jose

# Optional - Only if needed
python-multipart
faiss-cpu


# Torch CPU-only (to prevent CUDA bloat)
torch==2.2.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
